.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6c757d;
    border-radius: 3px;
    min-width: 100%;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table th{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
    border-radius: 5px;
}