.mytable{
    border-radius: 3px;
    display: inline-grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
    min-width: 100%;
}

.mytable .roww {
    cursor: pointer;
    display: contents;
    width: 100%;
}

.mytable .roww .celll.heading {
    background: #f6f6f7;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25rem .5rem .75rem;
}

.mytable .roww .celll:not(:last-child) {
    margin-right: .25rem;
}

.mytable .roww .celll:first-child {
    background: transparent;
    flex-basis: 7rem;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 11;
}

.mytable .roww .celll {
    align-items: center;
    border-radius: 3px;
    /* color: #6c757d; */
    display: flex;
    flex-direction: row;
    margin-bottom: .25rem;
    padding: .5rem;
    position: relative;
}

.mytable .roww:nth-child(odd) .celll {
    background: rgba(108,117,125,.0627451);
}

.mytable .roww .celll .country-name {
    font-size: 1rem;
    font-weight: 700;
    max-width: 7rem;
    word-wrap: break-word;
}

.mytable .roww .celll.statistic {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 600;
}

.table .row .cell:not(:first-child) {
    flex-basis: 4rem;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}

.today-confirmed{
    color: #ff073a;
}

.today-recovered{
    color: #28a745;
}

.today-deaths{
    color: #6c757d;
}